# Binary files - do not diff
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.a binary
*.lib binary
*.o binary

# Archives
*.zip binary
*.tar binary
*.gz binary
*.7z binary
*.rar binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary

# Other binary formats
*.pdf binary
*.db binary
*.sqlite binary
*.dat binary
